<div class="form-group" [formGroup]="formGroup" *ngIf="access == 'write'" #container>
  <label class="" [for]="control.key">
    {{control.label}}
    <sup class="text-danger font-weight-bold" *ngIf="control.require">*</sup>
    <i *ngIf="control.help" class="fa fa-question-circle ml-2 help-text" placement="{{control.helpdirection}}"
      ngbTooltip="{{control.help}}"></i>
  </label>
  <img *ngIf="control.imageurl" [src]="control.imageurl" class="mb-2 img-fluid" />
  <div class="input-group datepicker-outer">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-calendar"></i></span>
    </div>
    <input *ngIf="control.istimeenable" [placeholder]="control.placeholder" autocomplete="off" ngbDatepicker type="text" #d="ngbDatepicker" readonly="readonly"
      [minDate]="MinDate()" [disableControl]="isDisabled()" [id]="control.key" [(ngModel)]="selectedDate"
      (ngModelChange)="modelChange($event)" [required]="control.require" [formControl]="formGroup.controls[control_id]"
      (focus)="d.toggle();SetId(d)" class="form-control" [ngClass]="{'border-danger' : formGroup.controls[control_id] ? formGroup.controls[control_id].hasError('required') && formGroup.controls[control_id].touched : false}">

    <input *ngIf="!control.istimeenable" [placeholder]="control.placeholder" autocomplete="off" ngbDatepicker type="text" #d="ngbDatepicker" 
      [minDate]="MinDate()" [disableControl]="isDisabled()" [id]="control.key" [(ngModel)]="selectedDate"
      (ngModelChange)="modelChange($event)" [required]="control.require" [formControl]="formGroup.controls[control_id]" (keydown)="onKeydown($event)"
      (focus)="d.toggle();SetId(d)" class="form-control" [ngClass]="{'border-danger' : formGroup.controls[control_id] ? formGroup.controls[control_id].hasError('required') && formGroup.controls[control_id].touched : false}">

    <input *ngIf="control.istimeenable && control.openpopup" class="form-control time-field" type="time" value="{{selectedTime}}"
      (input)="modelChange()" (click)="open()" [ngClass]="{'border-danger' : formGroup.controls[control_id] ? formGroup.controls[control_id].hasError('required') && formGroup.controls[control_id].touched : false}">
    <input *ngIf="control.istimeenable && !control.openpopup" class="form-control time-field" type="time" value="{{selectedTime}}"
      (input)="timeChange($event)" [ngClass]="{'border-danger' : formGroup.controls[control_id] ? formGroup.controls[control_id].hasError('required') && formGroup.controls[control_id].touched : false}">
  </div>
  <small class="form-text text-danger" *ngIf="formGroup.controls[control_id] ? formGroup.controls[control_id].hasError('required') && formGroup.controls[control_id].touched : false">
    {{control.errormsg ? control.errormsg : 'You must enter a ' + control.label + '.'}}
  </small>
  <div class="form-text" *ngIf="control.description">{{control.description}}</div>
  <!--<small class="form-text text-danger" *ngIf="formGroup.controls[control_id] ? formGroup.controls[control_id].hasError('required') && formGroup.controls[control_id].touched && data[control.key] !== '' : false">
    You must enter a {{control.label }}.
  </small>-->
  <!--<small *ngIf="formGroup.controls[control_id] ? formGroup.controls[control_id].errors?.date && formGroup.controls[control_id].touched : false"
         class="mat-text-warn">You must include a valid date.</small>-->
</div>
<div *ngIf="access != 'write' && access != 'filter'" class="form-group">
  <ng-container *ngIf="control.require==true && _controlService.getCssforMandatory(control,data[control.key])!='' && access=='mandatory'">
    <label class="editebl-input" [ngClass]="_controlService.getCssforMandatory(control,data[control.key])">{{control.label}}<i
        class="fa fa-pencil pointer" aria-hidden="true" (click)="_controlService._toggleSidebar('id',control.id)"></i></label>
    <div class="form-control border-0 p-0">{{data[control.key]}}</div>
  </ng-container>
  <ng-container *ngIf="access!='mandatory'">
    <label class="editebl-input" [ngClass]="_controlService.getCssforMandatory(control,data[control.key])">{{control.label}}<i
        class="fa fa-pencil pointer" aria-hidden="true" *ngIf="access == 'edit'" (click)="_controlService._toggleSidebar('id',control.id)"></i></label>
    <div class="form-control border-0 p-0">{{data[control.key]}}</div>
  </ng-container>
</div>
<div class="card mb-3" *ngIf="access == 'filter'">
  <div class="card-header d-flex align-items-center pointer" (click)="hide = !hide">
    <div>{{control.filterheader}}</div>
    <span class="ml-auto" *ngIf="!hide"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
    <span class="ml-auto" *ngIf="hide"><i class="fa fa-angle-up" aria-hidden="true"></i></span>
  </div>
  <div class="card-body" [ngbCollapse]="!hide">
    <div class="row">
      <div class="col-md-6">
        <label class="" [for]="from">From</label>
        <input autocomplete="off" ngbDatepicker [placeholder]="control.placeholder" type="text" #d="ngbDatepicker" [id]="from"
          [(ngModel)]="selectedDateFrom" (ngModelChange)="_controlService.setFilterValue(control.key,parserFormatter.format(selectedDateFrom),filterdata,'from')"
          [required]="control.require" (focus)="d.toggle()" class="form-control">
      </div>
      <div class="col-md-6">
        <label class="" [for]="to">To</label>
        <input autocomplete="off" [placeholder]="control.placeholder" ngbDatepicker type="text" #d1="ngbDatepicker"
          [id]="to" [(ngModel)]="selectedDateTo" (ngModelChange)="_controlService.setFilterValue(control.key,parserFormatter.format(selectedDateTo),filterdata,'to')"
          [required]="control.require" (focus)="d1.toggle()" class="form-control">

      </div>
    </div>
  </div>
</div>