<div [formGroup]="formGroup" class="form-group" *ngIf="access == 'write'">
  <label [for]="control.key">
    {{control.label}}<sup class="text-danger font-weight-bold" *ngIf="control.require">*</sup>
    <i *ngIf="control.help" class="fa fa-question-circle ml-2 help-text" placement="{{control.helpdirection}}" ngbTooltip="{{control.help}}"></i>
  </label>
  <img *ngIf="control.imageurl" [src]="control.imageurl" class="mb-2 img-fluid" />
  <div class="dropdown-outer" (click)="SearchDropDown =!SearchDropDown;selectedIndex=-1">
    <input autocomplete="off" (keydown)="eventHandler($event)" (click)="SearchDropDown =!SearchDropDown;selectedIndex=-1"
           [id]="control.key"
           type="text"
           [formControl]="formGroup.controls[control_id]"
           class="form-control validate filter-input"
           [ngClass]="{'border-danger' : formGroup.controls[control_id] ? formGroup.controls[control_id].hasError('required') && formGroup.controls[control_id].touched : false, 'loading' : isLoading}"
           [(ngModel)]="data[control.key]"
           (ngModelChange)="_controlService.getCssforMandatory(control,data[control.key]);clearBindingControls()"
           (keyup)=filter()
           (change)="$event.stopPropagation()"
           (focus)="AutoSearchList.length>0;"
           (focusout)="AutoSearchList=[];updatePageVarible()"
           (blur)="AutoSearchList.length==0;"
           (keypress)="keypress($event)"
           [placeholder]="control.placeholder">
    <div class="dropdown-option" *ngIf="filteredList?.length > 0 && AutoSearchList.length > 0">
      <ul class="list-group" (focus)="AutoSearchList.length>0;">
        <li *ngFor="let item of AutoSearchList;let idx=index" name=idx (keydown)="eventHandler($event)"
            [ngClass]="{ active: (idx === selectedIndex) }"
            (mouseover)="selectedIndex = idx;"
            (mousedown)="select(item)" class="list-group-item list-group-item-action"
            >
          <span>
            {{item[this.control.textfield]}}
          </span>
        </li>
      </ul>
    </div>
    <!-- <input [id]="control_id" autocomplete [config]="config2"  [items]="filteredList" [formControl]="formGroup.controls[control_id]" class="form-control validate filter-input" [ngClass]="{'border-danger' : formGroup.controls[control_id] ? formGroup.controls[control_id].hasError('required') && formGroup.controls[control_id].touched : false}"
    [(ngModel)]="data[control.key]"
    (inputChangedEvent)="CallService($event)"
    (selectEvent)="select($event)"> -->
  </div>
  <small class="form-text text-danger" *ngIf="formGroup.controls[control_id] ? formGroup.controls[control_id].hasError('required') && formGroup.controls[control_id].touched : false">
    {{control.errormsg ? control.errormsg : 'You must enter a ' + control.label + '.'}}
  </small>
  <small class="form-text text-danger" *ngIf="formGroup.controls[control_id] ? formGroup.controls[control_id].hasError('maxlength') && formGroup.controls[control_id].touched : false">
    You can enter maximum {{control.charlimit}} characters.
  </small>
  <div class="form-text" *ngIf="control.description">{{control.description}}</div>
</div>

<div *ngIf="access != 'write'  && access != 'filter'" class="form-group">
  <ng-container *ngIf="control.require==true && _controlService.getCssforMandatory(control,data[control.key])!='' && access=='mandatory'">
    <label class="editebl-input" [ngClass]="_controlService.getCssforMandatory(control,data[control.key])">{{control.label}}<i class="fa fa-pencil pointer" aria-hidden="true" (click)="_controlService._toggleSidebar('id',control.id)"></i></label>
    <div class="form-control border-0 p-0">{{data[control.key]}}</div>
  </ng-container>
  <ng-container *ngIf="access!='mandatory'" >
    <span class="editebl-input" [ngClass]="_controlService.getCssforMandatory(control,data[control.key])">{{control.label}}<i class="fa fa-pencil pointer" aria-hidden="true" *ngIf="access == 'edit'" (click)="_controlService._toggleSidebar('id',control.id)"></i></span>
    <div class="form-control border-0 p-0">{{data[control.key]}}</div>
  </ng-container>
</div>
<div class="form-group" *ngIf="access == 'filter'">
  <div class="dropdown-outer">
    <input autocomplete="off" id="country" type="text" class="form-control"
           [(ngModel)]="data[control.key]"
           (ngModelChange)="_controlService.setFilterValue(control.key,data[control.key],filterdata)"
           (keyup)=filter() [placeholder]="control.placeholder">
    <div class="dropdown-option" *ngIf="filteredList?.length > 0">
      <ul class="list-group">
        <li *ngFor="let item of AutoSearchList" (click)="select(item);" class="list-group-item list-group-item-action" type="button">
          <span>
            {{item[this.control.textfield]}}
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
