.dropdown-outer {
  position: relative;

  .form-control {
    padding-right: 40px;
  }

  .dd-arrow {
    position: absolute;
    right: 15px;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .dropdown-option {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-width: 280px;
    max-height: 300px;
    overflow: auto;
    background: #fff;
    z-index: 1000;
  }
}
