
.apply-margin {
  margin-top: 12px;
}

.list-parent {
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0px !important;
  height: 100%;
  margin: 0 30px;
  float: none;
  margin-bottom: 10px;
  max-width: 95%;
  padding: 0px 10px 0px 10px;
}


.list-parent h6 {
  color: #3b81d3;
  font-weight: 600;
  font-size: 14px;
}

.border-bottom {
  border-bottom: 1px solid #ebebeb;
  padding: 6px;
  margin-left: 0px;
  margin-right: 0px;
}

.m-bottom-md {
  margin-bottom: 15px;
  margin-bottom: 1px solid red;
}

.b-all-light-border {
  margin-bottom: 30px;
}

.m-bottom-md {
  margin-bottom: -1px !important;
}

.m-top-sm {
  margin-top: 30px !important;
  margin-left: 1px;
  margin-right: 1px;
  border-left: none;
  border-right: none;
  border-top: 1px solid black;
  border-bottom: 1.5px solid black;
  padding: 10px;
}

.b-all-light-border {
  border: 1px solid #dbdddf;
}

.p-bottom-5 {
  padding-bottom: 5px !important;
}

.p-top-5 {
  padding-top: 5px !important;
}

.req-info {
  font-size: 11px;
  font-weight: bold;
}

.req-info-details {
  display: inline-block;
  width: 30%;
}


.priority {
  display: inline-block;
  width: 10%;
}

.recruiter {
  display: inline-block;
  width: 11%;
}

.positions {
  display: inline-block;
  width: 10%;
}

.hire {
  display: inline-block;
  width: 5%;
}

.maxsubmission {
  display: inline-block;
  width: 9%;
}

.openrequisition {
  display: inline-block;
  width: 6%;
}
.rec-name-margin {
  margin-left: 60px;
}

.b-top-0 {
  border-top: 0 !important;
}

.b-all-light-border {
  border: 1px solid #dbdddf;
}

.p-top-sm {
  padding-top: 15px !important;
}

.public-search .search-card {
  transition: .5s background linear;
}

.cursor-pointer, .search-filter-tags li, a {
  cursor: pointer !important;
}

.pos-relative {
  position: relative !important;
}

.p-top-sm {
  padding-top: 0px !important;
}


/* Some Testig */

.m-bottom-0 {
  margin-bottom: 0 !important;
}

p {
  margin: 0 0 10px;
}

.text-capitalize {
  text-transform: capitalize;
}

.font-size-14 {
  font-size: 14px !important;
}

.line-height-20 {
  line-height: 20px !important;
}

.text-gray-darker {
  color: #020812 !important;
}

.text-semibold {
  font-weight: 600;
}

.text-primary {
  color: #3473ff !important;
  padding-left: 8px;
}

.m-y-axis-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.text-small {
  font-size: 10px;
  color: darkgray;
}

.text-small-align {
  padding-left: 0px;
  padding-top: 0px;
}

.spaceMargin {
  margin: 0 4px;
  color: #a7a7a7;
}

.rec-name {
  padding: 10px 58px;
}

.Main_div {
}

.positions-text-center {
  text-align: center;
}

.result-separator {
  border-bottom: 1px solid #dbdddf;
  padding-top: 3px;
  width: 92%;
  margin-left: 9px;
}

.leave-msg-wrap {
  position: relative;
  z-index: 109;
  /* top: 40%; */
  /* width: 34px; */
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -webkit-transform-origin: 0 34px;
  transform-origin: 0 34px;
  transition: smooth;
  right: 0;
  height: 36px;
  display: inline-block;
  background: #f1f1ff;
  -moz-border-top-left-radius: 35px;
  border-top-left-radius: 35px;
  -moz-border-bottom-left-radius: 35px;
  border-bottom-left-radius: 35px;
  top: -34px;
}

.leave-msg-wrap ul {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
}

.actions-display {
  width: 1%;
}

.orangeText {
  color: #ff805a !important;
  font-size: 18px;
  font-weight: 500;
}

.blueText {
  color: #0196f7 !important;
  font-size: 18px;
  font-weight: 500;
}




.lightOrangetext {
  color: #ffaa3a !important;
  font-size: 18px;
  font-weight: 500;
}

.greenColorText {
  color: #1fe165 !important;
  font-size: 18px;
}

.goldenrod {
  color: #DAA520 !important;
  font-size: 18px;
}

.forestgreen {
  color: #228B22;
  font-size:18px;
  text-align:center;
}

.cyancolor {
  color: #00FFFF;
  font-size:18px;
}

.leave-msg-wrap.open {
  -webkit-transform: rotate(0);
  transform: rotate(0);
  right: 0;
  width: 180px;
}

.final-result-separator {
  border-bottom: 1.5px solid #dbdddf;
  padding-top: 3px;
  width: 100%;
}

.other-details {
  padding-left: 10px;
}

.other-details-label {
  color: black;
  font-weight: 600;
}

.firstDiv .secDiv + div + p {
  display: none;
}

.firstDiv:hover .secDiv + div + p {
  display: block;
}

.firstDiv .secDiv + div {
  display: none;
}

.firstDiv:hover .secDiv + div {
  display: block;
}

.poscount {
  position: absolute;
  right: 20px;
  z-index: 10;
}

.leave-msg-wrap.common_arrow.open .leftArr {
  display: none;
}

.leave-msg-wrap.common_arrow .rightArr {
  display: none;
}

.leave-msg-wrap.common_arrow.open .rightArr {
  display: inline-block;
}

.widthIcons {
  display: inline-block;
  width: 22px;
}

.leave-msg-wrap.open ul li {
  display: table-cell;
  opacity: 1;
}

.leave-msg-wrap ul li.actionbtn {
  vertical-align: middle;
  width: 50px;
  text-align: center;
  display: none;
}

.IconLi {
  display: none;
}

.actionbtn {
  position: relative;
  z-index: 1;
  cursor: pointer;
  width: 32px;
  height: 32px;
  font-size: 16px;
  color: #fff;
  background: #000000;
  border: none;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,.1);
  outline: 0;
  line-height: 32px;
  text-align: center;
  display: inline-block;
}



.bulkReqRow {
  // border: 1px solid #f0c40f;
  background-color: beige;
}

.openreq{
    font-size:20px;
    font-weight:400;
    cursor:pointer;
}
i.fa-angle-up.expand_client_results {
  transform: rotate(180deg);
}

.rec-name-client{
    font-size:10px;
    font-weight:bold;
}

.rec-client-details {
  margin: 0;
  padding: 0px;
  /* border-bottom: 1px solid grey; */
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.1);
  width: 100%;
  border: 1px solid #eee;
  /* background: #fff; */
  /* border-radius: 4px; */
  margin-bottom: 9px;
}

.client-req-name{
    font-size:11px;
}

.requisition-separator{
    border-left:1px solid blue;
    padding-left:0px;
}

.requisition-separator-results{
    border-bottom:1px solid blue;
    padding:4px;
}

.border-zero{
    border:0;
}

.requisition-row{
    border-bottom:1px solid #DCDCDC;
}

.req-name-left-details{
    padding:0px 10px;
}

.requisition-row-inner {
  &:hover {
    background-color: aliceblue !important;
  }
}


.rec-client-details-heading {
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.1);

}

.priority-inner {
  display: inline-block;
  width: 10%;
}

.recruiter-inner {
  display: inline-block;
  width: 11%;
}

.positions-inner {
  display: inline-block;
  width: 7%;
}

.hire-inner {
  display: inline-block;
  width: 5%;
}

.maxsubmission-inner {
  display: inline-block;
  width: 9%;
}

.nested-innergrid {
  box-shadow: 2px 2px 6px 4px #ccc !important;
  z-index: 0;
}

.angle-left-padding {
    padding:11px;
}

.angle-right-padding {
  padding: 11px;
}

.recruiter-name-truncate {
  overflow: hidden;
  text-overflow: ellipsis !important;
  width: 25%;
  display: inline-block;
  white-space: nowrap;
  height: 11px;
}
