.Title {
  font-weight:800;
  font-variant:small-caps;
  font-size:medium;
}

.backdrop {
  background: white;
  min-height : 87vh;
  width : 98%;
}

.tagtbl {
  font-size:smaller !important;
  margin-top:10px;
}
