
  <div class="list-parent col-md-12">



    <div class="">
      <div class="m-top-sm">

        <div class="req-info-details req-info">
          Requisition Information
        </div>
        <div class="priority req-info">
          Priority
        </div>
        <div class="recruiter req-info">
          Sales
        </div>
       <!-- <div class="recruiter req-info">
          Recruiter
        </div> -->

        <div class="positions req-info">
          Positions
        </div>
        <div *ngIf="router?.url == '/apps/requisitionspage/advancesearch'" class="maxsubmission req-info">
          Max Submission
        </div>
        <div class="positions req-info">
          Submitted
        </div>
        <div class="positions req-info">
          Interview
        </div>
        <div class="hire req-info">
          Hire
        </div>
      </div>

      <div class="b-all-light-border">

        <div *ngFor="let reqObj of requisition" [ngClass]="{'bulkReqRow' : reqObj?.isbulk == true}" class="requisition-row">


          <div class="firstDiv">
            <div class="secDiv">

              <div class="req-info-details text-primary">
                <a (click)="gotoReqPage(reqObj?.requisitionid)">{{reqObj?.requisitionname}}</a>
                <p class="m-bottom-0 text-small text-small-align">
                  <span class="track-clevertap js-no-action text-capitalize  text-semibold track-search-click line-height-18">&nbsp;{{reqObj?.clientname}}</span>
                  <span class="spaceMargin h5">|</span>
                  <span class="m-bottom-0 text-small text-small-align track-clevertap js-no-action text-capitalize  text-semibold track-search-click line-height-18">&nbsp;{{reqObj?.states}}</span>


                </p>
              </div>
              <div class="priority " *ngIf="reqObj.prioritytype && reqObj.prioritytype?.toLowerCase() == 'gold'">
                <a><img src="../../../../../../wwwroot/assets/img/svg/Gold.svg" alt="grid"></a>

              </div>
              <div class="priority " *ngIf="reqObj.prioritytype && reqObj.prioritytype?.toLowerCase() == 'silver'">
                <a><img src="../../../../../../wwwroot/assets/img/svg/Silver.svg" alt="silver" /></a>

              </div>
              <div class="priority " *ngIf="reqObj.prioritytype && reqObj.prioritytype?.toLowerCase() == 'platinum'">
                <a><img src="../../../../../../wwwroot/assets/img/svg/Platinum.svg" alt="platinum" /></a>

              </div>
              <div class="priority" *ngIf="reqObj.prioritytype && reqObj.prioritytype?.toLowerCase() == 'bronze'">
                <a><img src="../../../../../../wwwroot/assets/img/svg/bronze.svg" alt="bronze" /></a>

              </div>
              <div class="priority" *ngIf="reqObj.prioritytype && reqObj.prioritytype?.toLowerCase() == 'diamond'">
                <a><img src="../../../../../../wwwroot/assets/img/svg/Diamond.svg" alt="diamond" /></a>

              </div>
              <div class="priority text-primary" *ngIf="reqObj.prioritytype && reqObj.prioritytype?.toLowerCase() == 'process'">
                <a>-</a>
                </div>
              <div class="priority" *ngIf="reqObj.prioritytype?.toLowerCase() == 'none'">
                  <a>-</a>

              </div>
                <div class="priority" *ngIf="!reqObj.prioritytype">
                  <a>-</a>

                </div>

                <div class="recruiter  text-small">
                  {{reqObj?.salesrepid}}
                </div>
                <!--  <div class="recruiter  text-small">
      {{reqObj?.assignedto}}
    </div> -->
                <div class="positions  orangeText">
                  {{reqObj?.noofpositions}}

                </div>

                <div *ngIf="router?.url == '/apps/requisitionspage/advancesearch'" class="maxsubmission goldenrod">
                  {{reqObj?.maxsubmissions}}

                </div>
                <div class="positions blueText">
                  {{reqObj?.submitted}}

                </div>
                <div class="positions  lightOrangetext">
                  {{reqObj?.interview}}

                </div>
                <div class="hire greenColorText">
                  {{reqObj?.hired}}

                </div>
                <div class="poscount">


                  <div class="actions-display leave-msg-wrap common_arrow" id="{{reqObj?.requisitionid}}">
                    <ul>
                      <li>
                        <a (click)="toggleClass(reqObj?.requisitionid)" class="leave-msg-trigger widthIcons leftArr">
                          <span class="icon"><i class="fa fa-angle-left fa-lg"></i></span>
                        </a>
                        <a (click)="toggleClass(reqObj?.requisitionid)" class="leave-msg-trigger widthIcons rightArr">
                          <span class="icon"><i class="fa fa-angle-right fa-lg"></i></span>
                        </a>
                      </li>
                      <li class="IconLi">
                        <a class="actionbtn hoverTxt" title="Assign" *ngIf="current_user_role ==3 || current_user_role ==4" (click)="assignReq(reqObj)" data-toggle=""
                           data-placement="" data-content="">
                          <img src="../../../../../../wwwroot/assets/img/svg/ic_assign_white.svg" alt="assign" />
                        </a>
                        <!--  <a title="Clone Requisition" *ngIf="current_user_role ==3 || current_user_role ==4" class="actionbtn hoverTxt" (click)="cloneRequisition()" data-toggle=""
               data-placement="" data-content="">
              <img src="../../../../../../wwwroot/assets/img/svg/ic_clone_white.svg" alt="clone" />
            </a> -->

                        <a title="Change Qualification" class="actionbtn hoverTxt" (click)="setQualification(reqObj?.requisitionid)" data-toggle=""
                           data-placement="" data-content="">
                          <img src="../../../../../../wwwroot/assets/img/svg/ic_qualification_white.svg" alt="qualification" />
                        </a>

                        <a title="Quick View" class="actionbtn hoverTxt" data-toggle="" (click)="openQuickView(reqObj?.requisitionid)"
                           data-placement="" data-content="">
                          <img src="../../../../../../wwwroot/assets/img/svg/ic_quickview_white.svg" alt="summary" />
                        </a>

                      </li>
                    </ul>
                  </div>
                </div>






              </div>
              <div class="result-separator">


              </div>
              <p class="only-show-on-hover m-bottom-0 text-small other-details">
                <span class="track-clevertap  text-capitalize  text-semibold track-search-click line-height-18"><label class="other-details-label">Region:&nbsp;</label>{{reqObj?.region}}</span>
                <span class="spaceMargin h5">|</span>
                <span class="m-bottom-0 text-small  track-clevertap  text-capitalize  text-semibold track-search-click line-height-18"><label class="other-details-label">Received Date:&nbsp;</label>&nbsp;{{reqObj?.createdon?.split('T')[0]}}</span>
                <span class="spaceMargin h5">|</span>
                <span class="m-bottom-0 text-small  track-clevertap  text-capitalize  text-semibold track-search-click line-height-18"><label class="other-details-label">Status:&nbsp;</label>&nbsp;{{reqObj?.status}}</span>
                <span class="spaceMargin h5">|</span>
                <span class="m-bottom-0 text-small  track-clevertap  text-capitalize  text-semibold track-search-click line-height-18"><label class="other-details-label">Type:&nbsp;</label>{{reqObj?.rectype}}</span>
                <span *ngIf="router?.url == '/apps/requisitionspage/advancesearch'" class="spaceMargin h5">|</span>
                <span *ngIf="router?.url == '/apps/requisitionspage/advancesearch'" class="m-bottom-0 text-small  track-clevertap js-no-action text-capitalize  text-semibold track-search-click line-height-18"><label class="other-details-label">Qualification:&nbsp;</label>{{reqObj?.qualification ? reqObj?.qualification:'-'}}</span>
                <!-- <span class="spaceMargin h5">|</span>
                <span class="m-bottom-0 text-small  track-clevertap js-no-action text-capitalize  text-semibold track-search-click line-height-18"><label class="other-details-label">Tower:&nbsp;</label>{{reqObj?.towerandsubtower ? reqObj?.towerandsubtower : '-'}}</span> -->
                <span class="spaceMargin h5">|</span>
                <span class="track-clevertap recruiter-name-truncate text-capitalize  text-semibold track-search-click line-height-18 recruiter-name-truncate" title="{{reqObj?.assignedto}}"><label class="other-details-label">Recruiter:&nbsp;</label>{{reqObj?.assignedto}}</span>




              </p>

              <div class="final-result-separator">


              </div>
            </div>
        </div>



      </div>




    </div>


  </div>















