<div class="container-fluid mt-2" >
  <ul class="nav justify-content-around" role="tablist" #tablist>
    <li *ngIf="isNewCandidateDashboard" class="nav-item">
      <a data-toggle="tab" role="tab" href="#metalboolTab" class="active nav-link metal-boolean-board remove-underline-hover" [ngClass]="{ 'active-jobboard' : currentTab==='metal_boolean' }" (click)="currentTab='metal_boolean'">
        <img src="../../../../../wwwroot/assets/img/metal_logo_blue.png" alt="metalbool" width="130" class="ml-2">
        <div class="check-image-description">Boolean Search</div>
      </a>
    </li>
    <li *ngIf="!isNewCandidateDashboard"  class="nav-item">
      <a data-toggle="tab" role="tab" data-target="#matchingTab" href="#matchingTab" class="active nav-link metal-match-border remove-underline-hover" [ngClass]="{ 'active active-jobboard' : currentTab ==='metal_match' }" (click)="currentTab='metal_match'">
        <img src="../../../../../wwwroot/assets/img/svg/Metal_Match_Logo.svg" alt="metal_Match" width="120" class="mt-3">
        <div class="check-image-description">New AI Matching</div>
      </a>
    </li>
    <li class="nav-item">
      <!--Duplicate the job board metal boolean to get the right order of jobboards in the new canddiate search page-->
      <a data-toggle="tab" role="tab" href="#monsterTab" class="nav-link monster-board-border " [ngClass]="{ 'active-jobboard' : currentTab==='monster' }"
         (click)="currentTab='monster'">
        <img src="../../../../../wwwroot/assets/img/monster-logo.png" alt="monster" width="110" class="ml-2 mt-2">
      </a>
    </li>
    <li class="nav-item">
      <a data-toggle="tab" role="tab" href="#cbTab" class="nav-link carreer-builder-board" [ngClass]="{ 'active-jobboard' : currentTab==='careerbuilder' }" (click)="currentTab='careerbuilder'">
        <img src="../../../../../wwwroot/assets/img/careerbuilder.jpg" alt="cb" width="130" class="mt-3">
      </a>
    </li>
    <li class="nav-item" *ngIf="showDice">
      <a data-toggle="tab" role="tab" href="#diceTab" class="nav-link dice-board" [ngClass]="{ 'active-jobboard' : currentTab==='dice' }" (click)="currentTab='dice'">
        <img src="../../../../../wwwroot/assets/img/dice-logo.png" alt="dice" width="120" class="ml-3">
      </a>
    </li>
    <li *ngIf="!isNewCandidateDashboard" class="nav-item">
      <a data-toggle="tab" role="tab" href="#metalboolTab" class="nav-link metal-boolean-board remove-underline-hover" [ngClass]="{ 'active-jobboard' : currentTab==='metal_boolean' }" (click)="currentTab='metal_boolean'">
        <img src="../../../../../wwwroot/assets/img/metal_logo_blue.png" alt="metalbool" width="130" class="ml-2">
        <div class="check-image-description">Boolean Search</div>
      </a>
    </li>
    <li *ngIf="!isNewCandidateDashboard" class="nav-item">
      <a data-toggle="tab" role="tab" href="#appliedTab" class="nav-link metal-boolean-board remove-underline-hover" [ngClass]="{ 'active-jobboard' : currentTab==='applied' }" (click)="currentTab='applied'">
        <img src="../../../../../wwwroot/assets/img/applied.png" alt="Applied" width="150" class="ml-2">
      </a>
    </li>
    <li class="nav-item">
      <a data-toggle="tab" role="tab" href="#ceTab" class="nav-link metal-boolean-board remove-underline-hover" [ngClass]="{ 'active-jobboard' : currentTab==='crown' }" (click)="currentTab='crown'">
        <img src="../../../../../wwwroot/assets/img/svg/CES 6.svg" alt="metalbool" width="140" class="ml-2">
        <div class="check-image-description">Corporate Employee Search</div>

      </a>
    </li>

  </ul>

</div>

<div class="tab-content ml-4">
  <!--METAL MAtch Tab-->
  <div *ngIf="!isNewCandidateDashboard" #metal_match_jobboard id="matchingTab" class="tab-pane fade show active" role="tabpanel" [ngClass]="{'show active' : currentTab ==='metal_match' }">
    <app-metal-match [isCandidateDashboard]=isNewCandidateDashboard [data]="metalmatchdata"></app-metal-match>

  </div>
  <!-- Monster Jobboard -->
  <div #monster_jobboard id="monsterTab" class="tab-pane" [ngClass]=" (currentTab ==='monster' ) ? 'show active' : 'fade'" role="tabpanel">

    <div class="container-fluid">
      <app-monster-power [requisitionid]="requisitionid"></app-monster-power>
    </div>
  </div>

  <!-- CAreer Builder Tab-->
  <div #cb_jobboard id="cbTab" class="tab-pane" [ngClass]="(currentTab ==='careerbuilder') ? 'show active' : 'fade'" role="tabpanel">
    <app-career-builder  [data]="metalmatchdata" [requisitionid]="requisitionid" [searchquery]="boolean_searchQuery"></app-career-builder>
  </div>

  <!-- Dice Tab   -->
  <div *ngIf="showDice" #dice_jobboard id="diceTab" class="tab-pane fade" [ngClass]="( currentTab ==='dice') ? 'show active' : 'fade'" role="tabpanel">
    <app-metal-dice  [requisitionid]="requisitionid" [searchquery]="boolean_searchQuery"></app-metal-dice>
  </div>

  <!-- Metal Boolean Search -->
  <div #metal_jobboard id="metalboolTab" class="tab-pane fade" [ngClass]=" (currentTab ==='metal_boolean') ? 'show active' : 'fade'" role="tabpanel">
    <app-metal-boolean [isCandidateDashboard]=isNewCandidateDashboard [requisitionid]="requisitionid" [searchquery]="boolean_searchQuery"></app-metal-boolean>
  </div>

      <!-- Applied-->
  <div *ngIf="!isNewCandidateDashboard" #appliedTab id="showappliedTab" class="tab-pane fade" [ngClass]=" (currentTab ==='applied') ? 'show active' : 'fade'" role="tabpanel">
    <app-metal-applied [isCandidateDashboard]=isNewCandidateDashboard [requisitionid]="requisitionid"></app-metal-applied>
  </div>


  <!-- CE search ( CROWN) -->
  <div #ceTab id="showceTab" class="tab-pane fade" [ngClass]=" (currentTab ==='crown') ? 'show active' : 'fade'" role="tabpanel">
    <app-metal-ce [isCandidateDashboard]=isNewCandidateDashboard [requisitionid]="requisitionid"></app-metal-ce>
  </div>

</div>
