$primary: #1976d2;
$gray-default: #7c7c7c;
$dark-gray: #4c4c4c;
$bg-gray: #ebebeb;
$purple: purple;
$green: green;
$orange: #f5a623 !default;
$yellow: #f0c40f !default;
$font-size: 12px;

.main-hotbookparent {
  width: 96%;
  margin-right: 0rem;
  margin-left: 2rem;

  .active-tab {
    border-color: #1976d2;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #1976d2;

    a {
      color: $primary !important;
      text-decoration: none;
    }

    li {
      border-bottom: 2px solid $primary !important;
    }

    border-bottom: 2px solid $primary !important;
    background-color: white;
  }
}

.parent-tab {
  padding-left: 0.5rem !important;
  //margin-left: 2rem;
  overflow: hidden;
  height: 82vh;
  scroll-behavior: smooth;
  background-color: white;
}

.sticky-switch {
  position: sticky;
  top: 4px;
  z-index: 3;
}

.demandPlancard {
  cursor: pointer;
  border: 1.5px solid #bcbcbd;
  margin: 2px;
  position: relative;
  margin-top: 8px;
  font-size: 14px;
  border-radius: 5px;

  a {
    color: $primary;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      color: white;
    }
  }

  label {
    font-weight: bold;
  }

  &:hover {
    @extend .current-selection;
  }
}

.current-selection {
  border-color: #1976d2;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #1976d2;

  a {
    color: white;
  }

  label {
    color: white;
  }

  h3 {
    color: white;
  }
}

.pageheading {
  color: $orange;
  font-size: medium; //14px;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 0;
  padding-top: 5px;
  font-variant-caps: small-caps;
}

.selectedfoldername {
  overflow: hidden;
  font-size: medium;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* display: -webkit-box; */
  width: 100%;
  color: #1976d2;
}

.right-separator {
  border-right: 2px solid #bbb;
  height: 75vh;
}

/** CARd specific Styls*/

.metal-card-row {
  margin: 0 -10px;
}

.metal-card-row {
  padding: 1px;
}

.metal-card-col {
  padding: 3px;
}

#bottom button {
  width: 99%;
  padding: 10px 0;
  margin-left: 2px;
  margin-top: 8px;
  font-size: $font-size;
}

.ellipsisDemandPlan {
  text-overflow: ellipsis;
  padding: 7px 0px;
}

.scrollContent {
  overflow-y: auto;
  height: 68vh;
  overflow-x: hidden;
}

.paginator {
  position: fixed;
  left: 50%;
  float: right !important;
  margin-top: 7px;
}

.searchBox {
  border-radius: 5px;
  margin-bottom: 5px;
}

.searchIcon {
  background-color: #fff;
  border-radius: 0px 10px 10px 0px;
}

.demandPlanName {
  width: 85%;
}

.demandPlanLabel,
.demandPlanName {
  vertical-align: text-top;
  display: inline-block;
}

.noDemandPlan {
  text-align: center;
  padding: 1rem 0;
}

.searchIcon {
  color: #1ca9f7;
}

.searchInput {
  border-radius: 10px 0px 0px 10px;
  font-size: $font-size;
}

.searchBorder {
  border-radius: 0px 10px 10px 0px;
}

.checkboxes {
  font-size: $font-size;
}

.searchinputBox {
  border-radius: 10px;
}

.actionbutton {
  border: none !important;
}

.actionsmenu {
  display: inline-block;
}

.dropdown-toggle::after {
  display: none;
}

.demandPlancard:hover #dropdownBasic1 {
  color: white;
}

#dropdownBasic1:active:focus {
  background: none;
  color: #fff;
}

#dropdownBasic1 {
  border: none;
  padding: 0 5px;
  background: none;
  color: #1976d2;
}

.menuItems {
  position: relative;
  z-index: 1;
  transform: translate3d(-139px, 21px, 0px);
}

/* for scrolling the candidate card only */
#candidatecard {
  overflow-y: auto;
  overflow-x: hidden;
  height: 80vh;
}

#candidatecard::-webkit-scrollbar {
  width: 5px;
}

#candidatecard::-webkit-scrollbar-thumb {
  background: rgba(136, 135, 135, 0.69);
  border-radius: 10px;
}
/* for scrolling the candiadte card ends*/

.ownerInfo {
  font-size: 10px;
  font-weight: normal !important;
  color: grey;
  margin-bottom: 0;
  margin-top: -6px;
}

// Demand Plan CSS

.numbers {
  font-size: 20px;
  display: flex;
  font-weight: 500;
}

.dates {
  font-size: 11px;
  margin: 0;
  color: darkgrey;
  border-bottom: 1.3px solid darkgrey;
  padding-bottom: 5px;
}

.dateTitle,
.dateValue,
.dmValue {
  font-weight: 100;
}

.dateValue,
.dmValue {
  color: black;
}

.dateTitle {
  font-size: 11px;
}

.demandPlancard:hover .dateTitle {
  font-weight: 100;
  color: darkgrey;
}

.demandPlancard:hover .dateValue,
.demandPlancard:hover .dmValue {
  font-weight: 100;
  color: black;
}

.reqName {
  font-size: 14px;
}

.clientName {
  font-size: 12px;
  color: black;
}

.currentCount {
  color: limegreen;
}

.recCount {
  color: red;
  font-size: 20px;
  margin-top: -10px;
}

.demandPlancard:hover .recCount {
  color: red;
}

.slash {
  padding: 0 1px;
}

.totalCount,
.slash {
  color: #1976d2;
}

.demandPlancard:hover .reqName {
  color: #1976d2;
}

.btn-danger {
  padding: 0;
  width: 5vw;
  border-radius: 5px;
}

.fa-pencil-square-o,
.fa-trash-o {
  color: darkgrey;
  font-size: 18px;
  cursor: pointer;
}

.fa-pencil-square-o {
  vertical-align: middle;
}

.fa-trash-o {
  margin-left: 15px;
  vertical-align: text-bottom;
}
