.border-bottom {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.colorClass {
  color: #E14E38 !important;
}
fieldset, label {
  margin: 0;
  padding: 0;
}


/***** CSS Magic to Highlight Stars on Hover *****/

/* hover previous stars in list */

