

.buttoncls {
  margin-bottom: 30px;
}

ng-template {
  align-items: center;
}

.align {
  display: flex;
  justify-content: center;
}

.invalid_msg {
  font-size: small;
  color: #f55;
  text-align: center;
}
