.summary-heading {
  color: #1976d2;
  font-weight: 600;
}

label {
  color: #1976d2;
  font-size: 12px;
  line-height: 10px;
}

.close-summary {
  cursor: pointer;
}

.modal-header {
  padding: 0.5rem !important;
}

.final_search {
  margin-bottom: 5%;
}

.mandatory:after,
.declaration:before {
  content: " *";
  color: red;
}
