.border-bottom {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/*.searchbar {
  border: 1px solid #ddd;
  background: #f2f2f2;
  padding: 10px 15px;

  .search-input {
    border: 1px solid #f2f2f2;
    padding: 1px 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    &:focus {
      border-color: #ddd;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      background: #fff;
    }
  }

  &:hover {
    .search-input {
      border: 1px solid #ddd;
      background: #fff;
    }
  }
}*/
