<div class="container">
  <div class="card p-3 welcome justify-content-center align-content-center text-center" *ngIf="OnboardJson">
    <h1 class="mb-4">Welcome to METal, {{OnboardJson.AccountName}}!</h1>
    <h3 class="text-dark mb-0">Rol</h3>
    <h4 class="text-gray mb-4">Team Lead / Lead Recruiter</h4>
    <h3 class="text-dark mb-0">Clients</h3>
    <h4 class="text-gray">Client1, Client2, Client3, Client4, Client5,</h4>
   
  </div>
  <!--<a style=" text-decoration: none;" [routerLink]="['../apps/requisitions']" target="_blank">your label </a>-->
</div>



