<!-- <div [ngBusy]="{busy: busy, message: 'Please wait ...', backdrop: true, delay: 500, minDuration: 1000}"></div> -->
<div *ngIf="isApiCalling" class="customloder d-flex justify-content-center align-items-center">
  <div class="lds-spinner">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<ngb-alert class="successMsg" *ngIf="successMessage" type="success" (close)="successMessage = null">
  {{
 successMessage
  }}
</ngb-alert>
<div class="row">
  <div class="col-md-12" *ngIf="control.enableadvancesearch && !control.enablemultiview">
    <!--grid-->
    <form  role="form">
      <ng-container *ngIf="advanceSearchformJson && advanceSearchModelJson">
        <div class="row">
          <ng-container *ngFor="let ctrl of advanceSearchformJson.controls">
            <app-dynamicformcontrolls [control]="ctrl" [formGroup]="form" [data]="advanceSearchModelJson"
              [access]="'write'" [AuthService]="AuthService" class="col-md-{{ctrl.width}} {{ctrl.colclass}}">
            </app-dynamicformcontrolls>
          </ng-container>
          <div class="mb-3 col-md-auto pt-3" style="margin-top: 5px;">
            <button *ngIf="!nosearchform" class="btn btn-primary"
              (click)="this.apiResult=[];LoadResultData()">Search</button>

            <button type="reset" *ngIf="!nosearchform" class="btn btn-outline-primary ml-3" (click)="form.reset();clearAdvSearchFormModel()" name="Clear">Clear</button>
          </div>
        </div>
      </ng-container>
      <div *ngIf="!advanceSearchformJson || !advanceSearchModelJson">
        <b *ngIf="!nosearchform">{{ErrorMsg ? ErrorMsg : 'loading...'}}</b>
      </div>
    </form>
    <span class="d-flex h-auto justify-content-end pb-1" *ngIf="apiResult.length > 0 && control.showtotalcount">
      {{control.totalcountlabel}} : {{control.apifieldforcounts && totalCount ? totalCount : apiResult.length}}
    </span>
  </div>
  <div class="col-md-12 sidbar-outer sidbar75">
    <ng-sidebar-container>
      <ng-sidebar [(opened)]="_openEdit" [position]="'right'" [mode]="'over'" [autoFocus]="false">
        <div class="d-flex justify-content-between">
          <h5 *ngIf="_openEmail==true" class="p-3 m-0">Email</h5>
          <h5 *ngIf="_openEmail==false" class="p-3 m-0">Edit</h5>
          <a class="p-3 ml-auto" (click)="_openEdit=!_openEdit;_openEmail=false">
            <i class="fa fa-close" aria-hidden="true"></i>
          </a>
        </div>
        <div class="sidbar-body sidbar75 111">
          <div *ngIf="_openEmail==false" class="container-fluid">
            <div *ngIf="EditFormUI && EditModelJson">
              <!--<app-dynamicform [FormUI]="EditFormUI" [controls]="EditFormUI.controls" [datamodel]="EditModelJson" [access]="viewtype">
              </app-dynamicform>-->
              <!-- <ng-container *ngFor="let ctrl of EditFormUI.controls">
                <app-dynamicformcontrolls *ngIf="!ctrl.filterresult" [control]="ctrl" [formGroup]="EditFormGroup" [data]="data" class="col-md-{{ctrl.width}}">
                </app-dynamicformcontrolls>
              </ng-container> -->
            </div>
            <div *ngIf="!EditFormUI">
              loading...
            </div>
          </div>
          <div *ngIf="_openEmail==true" class="container-fluid">
            <div *ngIf="EmailFormUI" class="row">
              <app-dynamicform [FormUI]="EmailFormUI" [controls]="EmailFormUI.controls" [datamodel]="EmailModelJson"
                [access]="'write'">
              </app-dynamicform>
            </div>
            <div *ngIf="!EmailModelJson" class="row">
              loading...
            </div>
          </div>
        </div>
      </ng-sidebar>
      <div ng-sidebar-content>
        <!-- <ng-container *ngIf="!externalPaging && apiResult.length>0 && getBindingCustomAction().length==0 && (getCustomAction().length>0 || control.isnesteddata)"> -->
        <ng-container *ngIf="!externalPaging && (apiResult.length>0 || tempData.length>0)">
          <div class="table-menu d-flex align-items-center mb-3">
            <div class="btn-group">
              <small *ngIf="control.isnesteddata">
                <a href="javascript:void(0)"
                  (click)="defaultexpandallFirstLoad=false;table.rowDetail.expandAllRows()">Expand All</a> |
                <a href="javascript:void(0)"
                  (click)="defaultexpandallFirstLoad=false;table.rowDetail.collapseAllRows()">Collapse All</a>
              </small>
              <button *ngIf="control.showemanagecolumn" class="btn btn-sm btn-outline-secondary"
                (click)="manageColumns(columncontent)">
                Manage
                Columns
              </button>
              <button *ngIf="control.showefreezecolumn" class="btn btn-sm btn-outline-secondary"
                (click)="freezeColumns(freezecontent)">
                Freeze
                Column
              </button>
            </div>
            <div class="btn-group ml-auto">
              <button *ngIf="control.showdeletelink" class="btn btn-sm btn-outline-secondary" (click)="delete(content)"
                title="Delete">
                <i class="fa fa-trash"></i>
              </button>
              <button *ngIf="control.showupdatelink" class="btn btn-sm btn-outline-secondary"
                (click)="openUpdate(updatecontent)" title="Update">
                <i class="fa fa-pencil"></i>
              </button>
              <button *ngIf="control.showexportlink" class="btn btn-sm btn-outline-secondary" (click)="Export()"
                title="Export">
                <i class="fa fa-file-excel-o"></i>
              </button>
              <button *ngIf="control.showemaillink" class="btn btn-sm btn-outline-secondary"
                (click)="_toggleEmailSidebar();" title="Email">
                <i class="fa fa-envelope-o"></i>
              </button>
              <input type='text' class="form-control" *ngIf="tempFirstCol && tempFirstCol.value && control.enablefilter"
                style="min-width:200px" placeholder='Filter by {{tempFirstCol.name}}' (keyup)='updateFilter($event)' />
              <!--<button *ngIf="control.showfilterlink" class="btn btn-sm btn-outline-secondary"><i class="fa fa-filter"></i></button>-->
            </div>
          </div>
          <ngx-datatable #myTable class="bootstrap" style="width: 100%" [rows]="apiResult" [columns]="columns"
            [loadingIndicator]="loadingIndicator" [columnMode]="'force'" [headerHeight]="'auto'" [sortType]="'single'"
            [footerHeight]="'auto'" [rowHeight]="'auto'" [scrollbarH]="true" [reorderable]="reorderable"
            [selected]="selected" [selectionType]="'checkbox'" (activate)="onActivate($event)"
            (select)='onSelect($event)' [externalPaging]="externalPaging" [count]="page.totalElements"
            [offset]="page.pageNumber" [limit]="control.PageSize" (page)='setPage($event)'>
            <!-- Row Detail Template -->
            <ngx-datatable-row-detail *ngIf="control.isnesteddata" [rowHeight]="'auto'" #myDetailRow
              (toggle)="onDetailToggle($event)">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                <div style="padding-left:90px;padding-bottom:5px;padding-bottom:5px;">
                  <div class="table-responsive">
                    <table class="table table-bordered table-sm table-hover">
                      <thead class="thead-default">
                        <tr>
                          <ng-container *ngFor="let col of control.NestedDataMapping">
                            <td style="width:50%"><strong>{{col?.nsdDisplayName}}</strong></td>
                          </ng-container>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let _row of row[control.nestedfield]" style="height:35px;">
                          <ng-container *ngFor="let col of control.NestedDataMapping">
                            <td
                              *ngIf="col.nsdfieldtype!='date' && col.nsdfieldtype!='link' && col.nsdfieldtype!='title'">
                              {{_row[col.nsdBindingField]}}
                            </td>
                            <td *ngIf="col.nsdfieldtype=='date' && _row[col.nsdBindingField]">
                              {{_row[col.nsdBindingField] | dateTz : AuthService.Menu.dateformat : AuthService.Menu.timezone}}
                            </td>
                            <td *ngIf="col.nsdfieldtype=='title'">
                              <span *ngIf="!col.BindingValueField">{{_row[col.nsdBindingField]}}</span>
                              <a *ngIf="col.BindingValueField && _row[col.nsdBindingField]"
                                href={{_row[col.BindingValueField]}} target="_blank">{{ _row[col.nsdBindingField]}}</a>
                            </td>
                            <td *ngIf="col.nsdfieldtype=='link'">
                              <!-- <a href="https://docs.google.com/a/collabera.org/viewer?url={{_row[col.nsdBindingField]}}&embedded=true" target="_blank">{{_row[col.nsdBindingField]}}</a> -->
                              <a *ngIf="!col.BindingValueField" href={{_row[col.nsdBindingField]}}
                                target="_blank">{{_row[col.nsdBindingField]}}</a>
                              <a *ngIf="col.BindingValueField && _row[col.nsdBindingField]"
                                href={{_row[col.nsdBindingField]}} target="_blank">{{col.BindingValueField}}</a>
                            </td>
                          </ng-container>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <pagination-controls *ngIf="row[control.nestedfield] && row[control.nestedfield].length > 10"
                    (pageChange)="page = $event"></pagination-controls>
                </div>
              </ng-template>
            </ngx-datatable-row-detail>
            <!-- Column Templates -->
            <ngx-datatable-column *ngIf="control.isnesteddata" [width]="50" [resizeable]="false" [sortable]="false"
              [draggable]="false" [canAutoResize]="false">
              <ng-template let-row="row" let-expanded="expanded" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                  [class.datatable-icon-down]="expanded" title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
                </a>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column *ngIf="control.showselectcolumn" [width]="40" [resizeable]="false" [sortable]="false"
              [draggable]="false" [canAutoResize]="false">
              <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                let-selectFn="selectFn">
                <input class="d-inline-block align-middle" style="margin-right:-15px;" type="checkbox"
                  [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
              </ng-template>
              <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                let-onCheckboxChangeFn="onCheckboxChangeFn">
                <input class="d-inline-block align-middle" style="margin-right:-15px" type="checkbox"
                  [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column *ngIf="getCustomAction().length>0"
              [width]="control.actioncolwidth ? control.actioncolwidth : 50" [resizeable]="false" [sortable]="false"
              [draggable]="false" [canAutoResize]="false">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div *ngIf="getCustomAction() && getCustomAction().length>0">
                  <ng-container *ngIf="control.actionview == 'footer' && !control.enablemultiview">
                    <custom-action [customaction]="getCustomAction()" [actionview]="'footer'" [data]="row"
                      [AuthService]="AuthService"></custom-action>
                  </ng-container>
                  <ng-container *ngIf="control.actionview != 'footer' || control.enablemultiview">
                    <custom-action [customaction]="getCustomAction()" [actionview]="'popoverGrdClint'" [data]="row"
                      [AuthService]="AuthService"></custom-action>
                  </ng-container>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column *ngFor="let col of columns" name={{col.name}} prop={{col.prop}}
              [frozenLeft]="col.frozenLeft" [frozenRight]="col.frozenRight" [resizeable]="col.resizeable"
              [canAutoResize]="true" [cellClass]="getCellBackground" headerClass="col.headerclass">
              <ng-template *ngIf="col.fieldtype=='date'" let-row="row" let-value="value" ngx-datatable-cell-template>
                <span *ngIf="value"
                [ngStyle]="col.coloractiontype=='text' ? getCellTextColor(row, col): ''">{{value | dateTz : AuthService.Menu.dateformat : AuthService.Menu.timezone}}</span>
              </ng-template>
              <ng-template *ngIf="col.fieldtype=='html'" let-row="row" let-value="value" ngx-datatable-cell-template>
                <div [innerHTML]="getHtml(value)"
                [ngStyle]="col.coloractiontype=='text' ? getCellTextColor(row, col): ''"></div>
              </ng-template>
              <ng-template *ngIf="col.fieldtype=='link'" let-row="row" let-value="value" ngx-datatable-cell-template>
                <a *ngIf="!col.bindtext" href={{value}} target="_blank"
                [ngStyle]="col.coloractiontype=='text' ? getCellTextColor(row, col): ''">{{value}}</a>
                <a *ngIf="col.bindtext && value" href={{value}} target="_blank"
                [ngStyle]="col.coloractiontype=='text' ? getCellTextColor(row, col): ''">{{col.bindtext}}</a>
              </ng-template>
              <ng-template *ngIf="col.fieldtype=='image'" let-row="row" let-value="value" ngx-datatable-cell-template>
                <img class="img-fluid table-img" [title]="col.bindtext ? row[col.bindtext] : null" [src]="value" />
              </ng-template>
              <ng-template *ngIf="getBindingCustomAction().length>0 && col.fieldtype=='title'" let-row="row"
                let-value="value" ngx-datatable-cell-template>
                <custom-action [customaction]="getBindingCustomAction()" [actionview]="'flat'" [data]="row"
                  [value]="value" [AuthService]="AuthService"></custom-action>
              </ng-template>
              <ng-template
                *ngIf="col.fieldtype=='conditionaltext' && col.conditionaltext && col.conditionaltext.length > 0"
                let-row="row" let-value="value" ngx-datatable-cell-template>
                {{getConditionaltext(col.conditionaltext, value)}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-footer>
              <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                <!-- <div class="page-count">
                  <span *ngIf="selectedMessage">
                    {{selectedCount.toLocaleString()}} {{selectedMessage}} /
                  </span>
                  {{rowCount.toLocaleString()}} {{totalMessage}}
                </div> -->
                <datatable-pager [pagerLeftArrowIcon]="'fa fa-angle-double-left'"
                  [pagerRightArrowIcon]="'fa fa-angle-double-right'" [pagerPreviousIcon]="'fa fa-angle-left'"
                  [pagerNextIcon]="'fa fa-angle-right'" [page]="curPage" [size]="pageSize" [count]="rowCount"
                  [hidden]="!((rowCount / pageSize) > 1)" (change)="table.onFooterPage($event)">
                </datatable-pager>
              </ng-template>
            </ngx-datatable-footer>
          </ngx-datatable>
        </ng-container>
        <ng-container *ngIf="externalPaging && apiResult.length>=0">
          <div class="table-menu d-flex align-items-center mb-3">
            <div class="btn-group">
              <button *ngIf="control.showemanagecolumn" class="btn btn-sm btn-outline-secondary"
                (click)="manageColumns(columncontent)">
                Manage
                Columns
              </button>
              <button *ngIf="control.showefreezecolumn" class="btn btn-sm btn-outline-secondary"
                (click)="freezeColumns(freezecontent)">
                Freeze
                Column
              </button>
            </div>
            <div class="btn-group ml-auto">
              <button *ngIf="control.showdeletelink" class="btn btn-sm btn-outline-secondary" (click)="delete(content)"
                title="Delete">
                <i class="fa fa-trash"></i>
              </button>
              <button *ngIf="control.showupdatelink" class="btn btn-sm btn-outline-secondary"
                (click)="openUpdate(updatecontent)" title="Update">
                <i class="fa fa-pencil"></i>
              </button>
              <button *ngIf="control.showexportlink" class="btn btn-sm btn-outline-secondary" (click)="Export()"
                title="Export">
                <i class="fa fa-file-excel-o"></i>
              </button>
              <button *ngIf="control.showemaillink" class="btn btn-sm btn-outline-secondary"
                (click)="_toggleEmailSidebar();" title="Email">
                <i class="fa fa-envelope-o"></i>
              </button>
              <!--<button *ngIf="control.showfilterlink" class="btn btn-sm btn-outline-secondary"><i class="fa fa-filter"></i></button>-->
            </div>
          </div>
          <small *ngIf="control.isnesteddata">
            <a href="javascript:void(0)"
              (click)="defaultexpandallFirstLoad=false;table.rowDetail.expandAllRows()">Expand All</a> |
            <a href="javascript:void(0)"
              (click)="defaultexpandallFirstLoad=false;table.rowDetail.collapseAllRows()">Collapse All</a>
          </small>
          <ngx-datatable #myTable class="bootstrap server-scrolling" style="width: 100%" [rows]="apiResult"
            [columns]="columns" [loadingIndicator]="isApiCalling" [columnMode]="'force'" [headerHeight]="headerHeight"
            [rowHeight]="rowHeight" [scrollbarV]="true" [scrollbarH]="true" [selected]="selected"
            [selectionType]="'checkbox'" (select)='onSelect($event)' (scroll)="onScroll($event.offsetY)">
            <!-- Row Detail Template -->
            <ngx-datatable-row-detail *ngIf="control.isnesteddata" [rowHeight]="'auto'" #myDetailRow
              (toggle)="onDetailToggle($event)">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                <div style="padding-left:90px;padding-bottom:7px;">
                  <div class="table-responsive">
                    <table class="table table-bordered table-sm table-hover">
                      <thead class="thead-default">
                        <tr>
                          <ng-container *ngFor="let col of control.NestedDataMapping">
                            <td style="width:50%"><strong>{{col?.nsdDisplayName}}</strong></td>
                          </ng-container>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let _row of row[control.nestedfield]" style="height:35px;">
                          <ng-container *ngFor="let col of control.NestedDataMapping">
                            <td
                              *ngIf="col.nsdfieldtype!='date' && col.nsdfieldtype!='link' && col.nsdfieldtype!='title'">
                              {{_row[col.nsdBindingField]}}
                            </td>
                            <td *ngIf="col.nsdfieldtype=='date' && _row[col.nsdBindingField]">
                              {{_row[col.nsdBindingField] | dateTz : AuthService.Menu.dateformat : AuthService.Menu.timezone}}
                            </td>
                            <td *ngIf="col.nsdfieldtype=='title'">
                              <span *ngIf="!col.BindingValueField">{{_row[col.nsdBindingField]}}</span>
                              <a *ngIf="col.BindingValueField && _row[col.nsdBindingField]"
                                href={{_row[col.BindingValueField]}} target="_blank">{{ _row[col.nsdBindingField]}}</a>
                            </td>
                            <td *ngIf="col.nsdfieldtype=='link'">
                              <!-- <a href="https://docs.google.com/a/collabera.org/viewer?url={{_row[col.nsdBindingField]}}&embedded=true" target="_blank">{{_row[col.nsdBindingField]}}</a> -->
                              <a *ngIf="!col.BindingValueField" href={{_row[col.nsdBindingField]}}
                                target="_blank">{{_row[col.nsdBindingField]}}</a>
                              <a *ngIf="col.BindingValueField && _row[col.nsdBindingField]"
                                href={{_row[col.nsdBindingField]}} target="_blank">{{col.BindingValueField}}</a>
                            </td>
                          </ng-container>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <pagination-controls *ngIf="row[control.nestedfield] && row[control.nestedfield].length > 10"
                    (pageChange)="page = $event"></pagination-controls>
                </div>
              </ng-template>
            </ngx-datatable-row-detail>
            <!-- Column Templates -->
            <ngx-datatable-column *ngIf="control.isnesteddata && apiResult.length>0" [width]="50" [resizeable]="false"
              [sortable]="false" [draggable]="false" [canAutoResize]="false">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                  [class.datatable-icon-down]="expanded" title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
                </a>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column *ngIf="control.showselectcolumn" [width]="40" [resizeable]="false" [sortable]="false"
              [draggable]="false" [canAutoResize]="false">
              <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                let-selectFn="selectFn">
                <input class="d-inline-block align-middle" style="margin-right:-15px;" type="checkbox"
                  [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
              </ng-template>
              <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                let-onCheckboxChangeFn="onCheckboxChangeFn">
                <input class="d-inline-block align-middle" style="margin-right:-15px" type="checkbox"
                  [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column *ngIf="getCustomAction().length>0" [resizeable]="true" [sortable]="false"
              [draggable]="false" [canAutoResize]="true" [width]="control.actioncolwidth ? control.actioncolwidth : 50">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div *ngIf="getCustomAction() && getCustomAction().length>0">
                  <ng-container *ngIf="control.actionview == 'footer' && !control.enablemultiview">
                    <custom-action [customaction]="getCustomAction()" [actionview]="'footer'" [data]="row"
                      [AuthService]="AuthService"></custom-action>
                  </ng-container>
                  <ng-container *ngIf="control.actionview != 'footer' || control.enablemultiview">
                    <custom-action [customaction]="getCustomAction()" [actionview]="'popoverAdvGrid'" [data]="row"
                      [AuthService]="AuthService"></custom-action>
                  </ng-container>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column *ngFor="let col of columns" name={{col.name}} prop={{col.prop}}
              [frozenLeft]="col.frozenLeft" [frozenRight]="col.frozenRight" [resizeable]="col.resizeable"
              [canAutoResize]="true" [cellClass]="getCellBackground" headerClass="col.headerclass">
              <ng-template *ngIf="col.fieldtype=='date'" let-row="row" let-value="value" ngx-datatable-cell-template>
                <span *ngIf="value"
                [ngStyle]="col.coloractiontype=='text' ? getCellTextColor(row, col): ''">{{value | dateTz : AuthService.Menu.dateformat : AuthService.Menu.timezone}}</span>
              </ng-template>
              <ng-template *ngIf="col.fieldtype=='html'" let-row="row" let-value="value" ngx-datatable-cell-template>
                <div [innerHTML]="getHtml(value)"
                [ngStyle]="col.coloractiontype=='text' ? getCellTextColor(row, col): ''"></div>
              </ng-template>
              <ng-template *ngIf="col.fieldtype=='link'" let-row="row" let-value="value" ngx-datatable-cell-template>
                <a *ngIf="!col.bindtext" href={{value}} target="_blank"
                [ngStyle]="col.coloractiontype=='text' ? getCellTextColor(row, col): ''">{{value}}</a>
                <a *ngIf="col.bindtext && value" href={{value}} target="_blank"
                  [ngStyle]="col.coloractiontype=='text' ? getCellTextColor(row, col): ''">{{col.bindtext}}</a>
              </ng-template>
              <ng-template *ngIf="col.fieldtype=='image'" let-row="row" let-value="value" ngx-datatable-cell-template>
                <img class="img-fluid table-img" [title]="col.bindtext ? row[col.bindtext] : null" [src]="value" />
              </ng-template>
              <ng-template *ngIf="getBindingCustomAction().length>0 && col.fieldtype=='title'" let-row="row"
                let-value="value" ngx-datatable-cell-template>
                <custom-action [customaction]="getBindingCustomAction()" [actionview]="'flat'" [data]="row"
                  [value]="value" [AuthService]="AuthService"></custom-action>
              </ng-template>
              <ng-template
                *ngIf="col.fieldtype=='conditionaltext' && col.conditionaltext && col.conditionaltext.length > 0"
                let-row="row" let-value="value" ngx-datatable-cell-template>
                {{getConditionaltext(col.conditionaltext, value)}}
              </ng-template>
            </ngx-datatable-column>
            <!--<ngx-datatable-footer>
              <ng-template *ngIf="col.fieldtype=='date'" let-row="row" let-value="value" ngx-datatable-cell-template>
                <span class="">{{apiResult.length}} items</span>
              </ng-template>
            </ngx-datatable-footer>-->
          </ngx-datatable>
        </ng-container>
        <div *ngIf="apiResult.length == 0 && !isApiCalling"
          class="d-flex justify-content-center text-center align-items-center align-content-center flex-column"
          [ngStyle]="{'min-height.px': control.nodataheight, 'background-color': control.nodatabgcolor}">
          <div class="mb-3" *ngIf="control.nodataimage">
            <img [src]="control.nodataimage" class="img-fluid" [ngStyle]="{'width.px': control.nodataimagewidth}" />
          </div>
          <h3 *ngIf="control.nodatatitle" class="text-dark">{{control.nodatatitle}}</h3>
          <p class="m-0" *ngIf="control.nodatamsg">{{control.nodatamsg}}</p>
        </div>
      </div>
    </ng-sidebar-container>
  </div>
</div>
<ng-template #linkTemplate let-row="row" let-value="value" let-i="index">
  <div *ngIf="getBindingCustomAction().length>0">
    <custom-action [customaction]="getBindingCustomAction()" [actionview]="'flat'" [data]="row" [value]="value"
      [AuthService]="AuthService"></custom-action>
  </div>
  <div *ngIf="getBindingCustomAction().length==0">
    {{value}}
  </div>
</ng-template>
<ng-template #dateTemplate let-row="row" let-value="value" let-i="index">
  <span *ngIf="value" class="">{{value | dateTz : AuthService.Menu.dateformat : AuthService.Menu.timezone}}</span>
</ng-template>
<ng-template #imageTemplate let-row="row" let-value="value" let-i="index">
  <img class="img-fluid table-img" [src]="value" />
</ng-template>

<ng-template #content let-c="close" let-d="dismiss" size="lg">
  <div class="modal-header">
    <h4 class="modal-title" style="text-transform:capitalize">Alert!</h4>
    <button type="button" class="close" aria-label="Close" (click)="confirm='NO';d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">{{modalMessage}}</div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="confirm='YES';c('Close click')">Yes</button>
    <button type="button" class="btn btn-outline-primary" (click)="confirm='NO';c('Close click')">No</button>
  </div>
</ng-template>
<ng-template #updatecontent let-c="close" let-d="dismiss" size="lg">
  <div class="modal-header">
    <h4 class="modal-title" style="text-transform:capitalize">Select Field to Update</h4>
    <button type="button" class="close" aria-label="Close" (click)="resetUpdate();d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <!--<app-dropdown2-ui [control]="updateddlCtr" [formGroup]="formGroup" [data]="updateddlModel" [access]="'write'"></app-dropdown2-ui>-->
        <label class="">Select Field</label>
        <ss-multiselect-dropdown [options]="upddropdownList" [settings]="mySettings" [(ngModel)]="updselectedItems"
          (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
      </div>
      <div *ngIf="UpdateControl" class="col-md-12">
        <app-dynamicformcontrolls [control]="UpdateControl" [formGroup]="formEdit" [data]="updateDataModel"
          [AuthService]="AuthService" [access]="'write'"></app-dynamicformcontrolls>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="resetUpdate();c('Close click')">Close</button>
    <button type="button" class="btn btn-outline-primary" (click)="update(content);c('Close click')">Save</button>
  </div>
</ng-template>
<ng-template #columncontent let-c="close" let-d="dismiss" size="lg">
  <div class="modal-header">
    <h4 class="modal-title" style="text-transform:capitalize">Manage Columns</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="card h-100">
          <div class="card-header">
            ALL AVAILABLE FIELDS
          </div>
          <ul class="list-group list-group-flush">
            <li *ngFor="let col of allColumns" class="list-group-item">
              <div class="form-check">
                <input type='checkbox' class="form-check-input" [id]="col.name" (click)='toggleColumn(col)'
                  [checked]='isChecked(col)' />
                <label class="form-check-label" [attr.for]="col.name">{{col.name}}</label>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card h-100">
          <div class="card-header">
            CURRENT FIELDS
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let col of columns">
              {{col.name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<ng-template #freezecontent let-c="close" let-d="dismiss" size="lg">
  <div class="modal-header">
    <h4 class="modal-title" style="text-transform:capitalize">Freeze Columns</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>
                  Column Name
                </th>
                <th class="text-center">
                  Freeze Left
                </th>
                <th class="text-center">
                  Freeze Right
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let col of columns">
                <td>{{col.name}}</td>
                <td class="text-center">
                  <input type='checkbox' class="" (click)="freezeColumn(col,'left')"
                    [checked]='isChecked(col,"left")' />
                </td>
                <td class="text-center">
                  <input type='checkbox' class="" (click)="freezeColumn(col,'right')"
                    [checked]='isChecked(col,"right")' />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>