$primary: #1976d2;

.card-header-padding {
  padding: 0.75rem 1.25rem !important;
}

.radio-label {
  color : #4c4c4c;
}

.CBcontainer {
 
  label {
    color: $primary !important;
    font-size: small !important;
    margin-bottom: 0rem !important;
    margin-top: 0.5rem;
    }
}

